.main {
  margin-top: 30px;
  &__wrapper {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    @media (max-width: 1280px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .category-card {
    &:hover {
      margin-top: -10px;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
